<div class="comment-container">
  <hr />
  <% if entry.comments.any? %>
    <h4><em>Comments</em> (<a href="#add-comment-form">Add Comment</a>)</h4>
    <%= render partial: "comment_line_item", collection: entry.comments, locals: { markdown: markdown, settings: settings } %>
  <% end %>

  <%= render partial: "comment_form", locals: { settings: settings, comment: comment } %>
</div>
