<div id="entry-container">
  <div id="left-panel">
    <h2>Invalid Subscription</h2>

    <p>Something went wrong with your subscription request.</p>

    <p>Please try subscribing again.</p>
  </div>
  <div id="right-panel">
    <%= render partial: "common/right_panel", locals: { markdown: @unsafe_markdown, settings: @settings } %>
  </div>
</div>
