<div id="entry-container">
  <div id="left-panel">
    <h2>Unsubscription Failure</h2>

    <p>Sorry, we couldn't find that subscription! We've logged the failure and will check into it.</p>
  </div>
  <div id="right-panel">
    <%= render partial: "common/right_panel", locals: { markdown: @unsafe_markdown, settings: @settings } %>
  </div>
</div>
