<div id="entry-container">
  <div id="left-panel">
    <h2>Unsubscription Successful</h2>

    <p>We're sorry to see you go!</p>
  </div>
  <div id="right-panel">
    <%= render partial: "common/right_panel", locals: { markdown: @unsafe_markdown, settings: @settings } %>
  </div>
</div>
