
<div id="entry-container">
  <div id="left-panel">
    <% if @entries.any? %>
      <%= render partial: "common/entry_summary", collection: @entries, locals:  { markdown: @markdown } %>
    <% else %>
      <p>There are presently no blog posts!</p>
    <% end %>
  </div>
  <div id="right-panel">
    <div class="row">
      <%= link_to(image_tag("ic_rss_feed_black_24dp.png", title: "Subscribe with RSS"), "#{feed_url}.rss") %>
    </div>
    <hr />
    <%= render partial: "common/search" %>
    <%= render partial: "common/bio", locals: { markdown: @markdown, settings: @settings } %>
  </div>
</div>
