<div id="entry-container">
  <div id="left-panel">
    <% if @entries.any? %>
      <%= render partial: "common/entry_summary", collection: @entries, locals:  { markdown: @markdown } %>
    <% else %>
      <p>There are presently no blog posts!</p>
    <% end %>
  </div>
  <div id="right-panel">
    <%= render partial: "common/right_panel", locals: { markdown: @unsafe_markdown, settings: @settings } %>
  </div>
</div>
