/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require simplemde
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.hidden { display: none; }
.visible-inline-block { display: inline-block; }
.visible-block { display: visible-block; }

body {
  font-family: 'Merriweather', serif;
}

body.blog {
  background:#ffffff url('/images/banner') no-repeat left top;
}

.header {
  height:260px;
  margin-bottom:3em;
  margin-top:2em;
  margin-left:2em;
}
                
h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}
h2 {
  font-family: 'Playfair Display', serif;
}
h3 {
  font-family: 'Playfair Display', serif;
}
h4 {
  font-family: 'Playfair Display', serif;
}

div#entry-container {
  margin-left:20px; 
  width:90%; 
  max-width:1440px;
}

div#left-panel {
  width:66%; 
  min-width:500px; 
  float:left;
}

div#right-panel {
  margin-left:20px; 
  width:400px; 
  float:left;
}

div#select-image-modal {
  height:200px;
}
