<div class="row">
  <h2>Images</h2>
</div>
<div class="row">
  <div class="small-12 column">
  <%= link_to(image_tag('ic_note_add_black_24dp.png') + 'Update new image', new_admin_image_path) %>
  </div>
</div>
<div class="row">
  <table>
    <tr>
      <th>Title</th><th>Published At</th><th>Created</th><th>Actions</th>
    </tr>
    <%= render partial: "image_table_row", collection: @images %>
  </table>
</div>
