<div class="row">
  <div class="small-6 small-centered columns">
    <h1>Administration Menu</h1>
  </div>
</div>

<div class="row">
  <div class="small-6 small-centered columns">
    <ul class="left">
      <li><%= link_to('Edit Blog Entries', admin_entries_path) %></li>
      <li>Footer</li>
      <li>Styling</li>
      <li>Account</li>
    </ul>
  </div>
</div>
