<div role="dialog" class="reveal-modal" id="select-image-modal" data-reveal>
  <form>
    <div>
      <label for="image-select">Select an image to insert:</label>
      <select id="image-select">

      </select>
    </div>
  </form>
  <div>
    <button id="select-image-button" class='button round success'>Select</button>
    <button id="cancel-image-button" class='button round'>Cancel</button>
  </div>
</div>
